.logo{
    font-family: 'yanolja';
  font-weight: 400;
  font-style: normal;
}
#wrap{min-width: 1200px;
    position: relative;
}
.inner{
    max-width: 1700px;
    min-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
}
body{
    min-width: 1200px;
    overflow-x: hidden;
}
.inner2{
    width: 1250px;
    box-sizing: border-box;
    margin: 0 auto;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* align-items: center; 이걸 넣으면 중앙정렬 되긴 하는데 배경을 다 빼먹고 아이템만 따로 선택함 
    밑에 과천청사역 하는 slide에서 가운데 정렬하면 줄이 안맞게 됨 */
    justify-content: space-between;
}
/* 가로 플렉스 */
.flex_ver{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}/* 자식은 무조건 하나 aline-items는 형제가 없는 자식 하나에만 가능 이렇게 해도 세로 되긴 함 */
/* 세로 플렉스 */

#header{
    padding: 50px 0;
    font-size: 1.8rem;
}
/* header *************************************************************************************************************/
#nav .gnb>li>a:hover, #sect1 .ppimg h3:hover, #sect1 .package .pakage_tit:hover, #sect3 .protit:hover,
 #footer .com_link li a:hover, #sect3 .loadmore a:hover,
.price a:hover, .package a:hover, .ppimg_txt p a:hover
{
    text-decoration: underline;
}
#sect4 .telnumber h1 a:hover, #sect4 .sangdam h1 a:hover, #nav .gnb>li>a:hover, #nav .gnb .depth2 a:hover, #sect1 .ppimg p a, #sect1 li a, #sect3 .loadmore{
    color: rgb(120, 207, 178);
}
/* 의외로 공통 **********************************************************************************/
/*********************header****************************/
#nav .flex{
    justify-content: center;
    text-align: center;
}
#nav .gnb{
    padding-bottom: 30px;
}
#nav .gnb li{
    margin: 0 20px;
    position: relative;
}
#nav .gnb>li>a{
    font-size: 1.2rem;
}
#nav .gnb .depth2{
    position: absolute;
    background-color: #fff;
    top: 25px;
    left: 50%;
    width: 150px;
    transform: translate(-50%, 0);
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    z-index: 1000;
    font-size: 1.1rem;
    color: #999;
}
#nav .gnb .depth2 li{
    padding-bottom: 10px;
    text-align: center;
}
#nav .gnb .depth2 li:first-of-type{
    padding-top: 60px;
}
#nav .gnb>li:hover .depth2{
    height: 240px;
}
/* 내비 끝************************************************************************************ */
#slide{
    padding-bottom: 30px;
}
#slide>div img{
    position: relative;
    /* relative의 기준은 자기 자신 */
    left: 50%;
    transform: translate(-50%, 0);
}
#slide .inner{
    position: relative;
}
#slide>div .slide_txt{
    position: absolute;
    right: 160px;
    bottom: 550px;
    text-align: right;
    font-size: 5rem;
    line-height: 1.5em;
    color: #eee;
    letter-spacing: -0.03em;
}
#slide>div .slide_txt .slide_italic{
    font-size: 3rem;
}
#slide>div .slide_txt .main_slide_txt{
    font-size: 6rem;
}

/*********************section****************************/
#sect1{
    padding-top: 50px;
    padding-bottom: 50px;
}
#sect1 .inner{
    justify-content: center;
    flex-wrap: nowrap;
}
#sect1 .pp{
    border: 1px solid #ccc;
    position: relative;
    margin-right: 50px;
}
#sect1 .pp h6{
    position: absolute;
    top: -50px;
    left: 0;
    font-size: 1.2rem;
}
#sect1 .ppimg_in{
    overflow: hidden;
}
#sect1 .ppimg_in img{
    width: calc((100 - 50px)/2);
    transition-duration: 0.5s;
}
#sect1 .ppimg_in:hover img{
    transform: scale(1.2);
}
#sect1 .ppimg_txt{
    padding: 50px 0 60px 60px;
    position: relative;
    vertical-align: middle;
}
#sect1 .ppimg h1{
    font-size: 3rem;
    position: absolute;
    top: 50px;
    left: 20px;
}
#sect1 .ppimg h3{
    font-size: 1.3rem;
    font-weight: thin;
    line-height: 2em;
}
#sect1 .ppimg h3:hover ,{
    color: #333;
    font-weight: 900;
}
#sect1 .ppimg p a{
    display: block;
    position: absolute;
    top: 80px;
    right: 30px;
}
#sect1 li{
    padding: 25px 0;
    color: #666;
    border-bottom: 1px solid #ccc;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
}
#sect1 li a{
    font-size: 1.1rem;
}
#sect1 li p{
    font-size: 1.3rem;
    font-weight: 100;
}
#sect1 li p span{
    font-size: 1.05rem;
}
#sect1 .package h2{
    font-size: 3rem;
    padding: 0 20px;
}
#sect1 .package{
    min-width: 600px;
}
#sect1 .package p{
    padding: 0 80px 0 30px;
}
#sect1 .package .pakage_tit{
    color: #333;
    font-size: 1.3rem;
}
#sect1 .package li img{
    transition-duration: 0.2s;
}
#sect1 .package li img:hover{
    transform: scale(1.2);
}

/* sect1 end********************************************************* */

#sect2 .inner2 img{
    width: 100%;
}
/* sect2 end%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
#sect3{
    padding: 50px 0;
}
#sect3 h6{
    font-size: 1.2rem;
    line-height: 3em;
}
#sect3 .promotion li{
    border: 1px solid #666;
}
#sect3 .promotion .proinner{
    padding: 30px;
}
#sect3 .promo_img{
    overflow: hidden;
}
#sect3 .promo_img img{
    transition: 0.5s;
}
#sect3 .promo_img:hover img{
    transform: scale(1.2);
}
#sect3 .protit{
    font-size: 1.2rem;
    color: #333;
    line-height: 2em;
}

#sect3 .procon{
    color: #999;
    font-size: 0.9rem;
    padding-bottom: 30px;
}
#sect3 .price{
    font-size: 1.1rem;
    color: #333;
}
#sect3 .price a{
    color: rgb(89, 163, 138);
}
#sect3 .loadmore{
    padding: 80px 0;
    font-size: 1.3rem;
}
/* sect3 end************************************************************* */
#sect4{
    border-top: 2px solid #ddd;
    padding: 30px 0;
    border-bottom: 2px solid #ddd;
}
#sect4 .sect4_wrap{
    justify-content: space-between;
    /* align-items: center; */
}
#sect4 .sect4_wrap>div{
    width: calc((100%)/2.5);
}
#sect4 .sect4_wrap>div:last-of-type{
    width: calc((100%)/5);
}
#sect4 .sect4_wrap h6{
    font-size: 0.8rem;
    color: #777;
}
#sect4 .sect4_wrap h1{
    font-size: 2rem;
    color: #333;
    font-weight: 900;
}
#sect4 .sect4_wrap .telnumber p{
    font-size: 0.8rem;
    color: #999;
}
#sect4 .sect4_wrap .sangdam{
    margin-left: -200px;
}
#sect4 .sect4_wrap .sangdam h1{
    color: #666;
}
#sect4 .sect4_wrap img{
    width: 100%;
}

#sect4 .katalk a img{
    transition: 0.5s;
}
#sect4 .katalk a img:hover{
    transform: scale(1.1);
}

/*********************footer****************************/
#footer{
    background-color: #eee;
    font-size: 0.8em;
    font-weight: 100;
}
#footer .com_link{
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 15px;
}
#footer .com_link li{
    padding: 0 10px;
}
#footer .com_link .personal_info{
    color: #111;
}
#footer .company_info{
    text-align: center;
    padding-bottom: 30px;
}

/* footer end************************************************************** */
.top{
    position: relative;
}
.top_btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    text-align: center;
    border: none;
    font-size: 0.8rem;
    background-color: rgba(88,88,88,0.8);
    cursor: pointer;
    z-index: 10000;
    color: #fff;
    letter-spacing: 0.1em;
}
.top_btn span{
    display: block;
    padding-top: 30px;
}
.top .top_btn::after{
    position: absolute;
    top: 20px;
    left: 30px;
    content: "";
    display: block;
    width: 13px;
    height: 13px;
    border-bottom: 2px solid #FFF;
    border-right: 2px solid #FFF;
    transform: rotate(225deg) translate(-2px, -2px);
}
.top .top_btn:hover{
    border: 1px solid #333;
    background-color: #eee;
    color: #333;
}
.top .top_btn:hover::after{
    border-bottom: 2px solid #333;
    border-right: 2px solid #333;
}